:root {
  --primary-color: #202020;
  --secondary-color: #EBEBEB;
  --accent-color-main: #FF7417;
  --accent-color-util: #999999;
  --font-size-reg:1rem;
  --font-size-medium:1.333rem;
  --font-size-large:1.777rem;
  --font-size-xl:2.369rem;
  --font-size-xxl:3.157rem;
  --font-size-display:4.209rem;
  --spacing-sm: 1em;
  --spacing-reg: 2em;
  --spacing-medium: 4em;
  --spacing-large: 6em;
  --spacing-xl: 8em;
  --spacing-xxl:10em;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-family: sans-serif;
  color: var(--secondary-color);
}

html {
  width: 100%;
  height: 100%;
}

/*
    > Navigation
    > card
    > footer 
    > section

*/
body {
  position: relative;
  background: var(--primary-color);
}
body > div {
  padding-inline: var(--spacing-reg);
  padding-block: var(--spacing-reg);
}

.profile-image {
  position: relative;
  width: 24.5625em;
  height: 24.5625em;
  overflow: hidden;
  border-radius: 50%;
}

.img-holder-profile {
  width: 100%;
  height: auto;
}

h1 {
  font-size: var(--font-size-display);
  max-width: 462px;
}

h3 {
  font-size: var(--font-size-xl);
}

.highlighted {
  color: var(--accent-color-main);
}

ul a {
  text-decoration: none;
  color: var(--accent-color-util);
}
ul a:hover {
  color: var(--accent-color-main);
}

.introduction p {
  font-size: var(--font-size-medium);
  text-align: center;
  line-height: 1.5;
}

.profile-sec .icon-holder-socials i {
  font-size: var(--font-size-xl);
  color: var(--accent-color-util);
}
.profile-sec .icon-holder-socials i:hover {
  color: var(--accent-color-main);
}

.card-skills h5 {
  margin-top: var(--spacing-sm);
  font-weight: 300;
  text-align: center;
  font-size: var(--font-size-medium);
  color: var(--accent-color-util);
}
.card-expertise {
  text-align: center;
  cursor: pointer;
}
.card-expertise i {
  font-size: var(--font-size-display);
}
.card-expertise h5 {
  font-size: var(--font-size-medium);
  margin-top: var(--spacing-sm);
  color: var(--accent-color-util);
  font-weight: 300;
}
.card-expertise:hover i {
  color: var(--accent-color-main);
}

form {
  margin-top: var(--spacing-reg);
  display: flex;
  flex-direction: column;
  width: 70%;
}
form input[type=text]:focus-within {
  outline: 1.5px solid var(--accent-color-main);
}
form > input,
form textarea,
form button {
  border: none;
  outline: 1px var(--accent-color-main);
  border-radius: 4px;
  padding: var(--spacing-sm);
  background: none;
}
form input:not([type=submit]) {
  border: 1px solid var(--accent-color-util);
}
form textarea {
  resize: none;
  border: 1px solid var(--accent-color-util);
  min-height: 25ch;
  margin-block: var(--spacing-sm);
}
form textarea:focus-within {
  outline: 1.5px solid var(--accent-color-main);
}
form button[type=submit] {
  cursor: pointer;
  max-width: 40ch;
  align-self: flex-end;
  color: var(--secondary-color);
  font-weight: 600;
  background: var(--accent-color-main);
}
form button[type=submit] i {
  color: var(--secondary-color);
  margin-right: 0.4em;
}

/*
    > Grid
    > flex
    > containers
*/
.page-navigation {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  background: var(--primary-color);
  background: red;
  display: flex;
  align-items: center;
}
.page-navigation .wrapper {
  background: var(--primary-color);
  height: inherit;
  padding: var(--spacing-reg);
  width: inherit;
  display: flex;
  position: relative;
}
.page-navigation .wrapper ul {
  position: absolute;
  background: var(--primary-color);
  left: 0;
  top: 100%;
  box-shadow: 5px 0px 4px 0px rgba(0, 0, 0, 0.31);
  padding: var(--spacing-reg);
  height: 100vh;
  list-style: none;
}
.page-navigation .wrapper ul li {
  padding: var(--spacing-reg);
}
.page-navigation .wrapper i {
  font-size: var(--font-size-xl);
}
.page-navigation .wrapper .toggler {
  align-self: flex-end;
  float: right;
}

.hide {
  display: none !important;
}

.toggle-nav {
  position: sticky;
  top: 0;
  display: none;
  cursor: pointer;
  padding: var(--spacing-sm);
  background: var(--primary-color);
  z-index: 911;
  text-align: right;
}
.toggle-nav i {
  font-size: var(--font-size-xl);
}

.profile-sec {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
.profile-sec .wrapper {
  display: flex;
  justify-content: center;
  margin-top: var(--spacing-sm);
  gap: 7.875em;
}
.profile-sec .wrapper ul {
  list-style: none;
  display: flex;
  gap: var(--spacing-reg);
  margin-top: var(--spacing-large);
}
.profile-sec .wrapper ul a {
  text-decoration: none;
}

.introduction {
  display: flex;
  flex-direction: column;
  padding-block: var(--spacing-large);
  justify-content: center;
  align-items: center;
}
.introduction p {
  margin-top: var(--spacing-reg);
  max-width: 70ch;
}

.skills-expertise {
  display: flex;
  flex-direction: column;
  padding-block: var(--spacing-large);
  align-items: center;
  justify-content: center;
}
.skills-expertise h3 {
  text-align: center;
}
.skills-expertise .column-section {
  display: flex;
  flex-direction: column;
}
.skills-expertise .column-section .partition:nth-of-type(1) {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: var(--spacing-reg);
  border-bottom: 1px solid var(--accent-color-util);
  padding-block: var(--spacing-medium);
}
.skills-expertise .column-section .partition:nth-of-type(2) {
  gap: var(--spacing-reg);
  display: grid;
  padding-top: var(--spacing-medium);
  padding-bottom: var(--spacing-reg);
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.skills-expertise .column-section .partition .card-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills-expertise .column-section .partition .card-expertise {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.education {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-block: var(--spacing-large);
  align-items: center;
}
.education h3 {
  text-align: center;
}
.education section {
  margin-top: var(--spacing-reg);
  display: grid;
  gap: var(--spacing-medium);
}
.education section .card {
  display: flex;
  align-items: center;
  gap: var(--spacing-reg);
}
.education section .card div {
  line-height: 1.5;
}
.education section .card div h4 {
  font-size: var(--font-size-medium);
}
.education section .card div p {
  color: var(--accent-color-util);
}

.contact {
  display: flex;
  padding-block: var(--spacing-large);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  text-align: center;
  padding: var(--spacing-reg);
}
footer * {
  color: var(--accent-color-util);
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .profile-sec .wrapper {
    margin-top: var(--spacing-reg);
    flex-direction: column;
    gap: var(--spacing-reg);
    text-align: center;
  }
  .profile-sec .wrapper ul {
    justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  .profile-sec .wrapper {
    flex-direction: column;
    gap: var(--spacing-reg);
    text-align: center;
    margin-top: var(--spacing-reg);
  }
  .profile-sec .wrapper h1 {
    font-size: var(--font-size-xl);
  }
  .profile-sec .wrapper h3 {
    font-size: var(--font-size-reg);
  }
  .profile-sec .wrapper ul {
    margin-top: var(--spacing-reg);
    justify-content: center;
  }

  form {
    width: 100%;
  }
}
@media (min-width: 801px) {
  .page-navigation .wrapper {
    padding: var(--spacing-sm);
  }
  .page-navigation .wrapper #toggleNav {
    display: none;
  }
  .page-navigation .wrapper #pageNav {
    padding: 0;
    position: static;
    height: auto;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    width: 100%;
    margin: 0 auto;
    display: flex !important;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
