@media screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        & > div {
        }
    }
    .page-navigation {
    }
    .profile-sec {
        .wrapper {
            margin-top: var(--spacing-reg);
            flex-direction: column;
            gap: var(--spacing-reg);
            text-align: center;
            ul {
                justify-content: center;
            }
        }
    }
}
@media screen and (max-width: 767px) {
    body {
        & > div {
            // padding-block: var(--spacing-reg);
        }
    }
    .page-navigation {
    }
    .profile-sec {
        .wrapper {
            flex-direction: column;
            gap: var(--spacing-reg);
            text-align: center;
            margin-top: var(--spacing-reg);

            h1 {
                font-size: var(--font-size-xl);
            }
            h3 {
                font-size: var(--font-size-reg);
            }
            ul {
                margin-top: var(--spacing-reg);
                justify-content: center;
            }
        }
    }
    form {
        width: 100%;
    }
}
@media (max-width: 800px) {
    .page-navigation {
        position: relative;
        display: none;
        ul {
            height: 100vh;
            position: fixed;
            box-shadow: 1px 2px 14px 0px rgba(0,0,0,0.4);
            top:0;
            right: 0;
            flex-direction: column;
            background:var(--primary-color);
         
        }
    }
    .toggle-nav{
        display: block;
    }
}
